################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Client/obj/Debug
/ConsulAwareService/bin/Debug
/ConsulAwareListener/obj/Debug
/ConsulAwareService/obj/Debug
/ConsulAwareService/obj/Release
/packages
