<?xml version="1.0" encoding="utf-8"?>
<configuration>    
  <configSections>
    <sectionGroup name="consul">
      <section name="settings" type="Consul.Net.ConsulConfigurationHandler, consul-net" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <consul>
    <settings agent="127.0.0.1:8501" dataCenter="" enabled="true"/>
  </consul>
  <appSettings>
    <add key="consul" value="true"/>
  </appSettings>
</configuration>
